@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500&family=Jost:wght@100;300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #191827;
}

.main {
  width: 100vw;
  /* height: calc(100vh - 52px); */
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.first {
  width: 256px;
  float: left;
}

.second {
  width: calc(100% - 256px);
  height: 100vh;
  float: left;
  position: relative;
  overflow: hidden;
}